@font-face {
    font-family: "Universal Sans Display";
    src: url("UniversalSans/Universal-Sans-Display-450-Trial.ttf") format("truetype");
    font-weight: 450; /* Matches the weight in the filename */
    font-style: normal;
}

*{
    font-family: "Universal Sans Display", -apple-system, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    height: 56px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tesla-logo {
    width: 120px;
    padding-left: 50px;
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 8px;
}
.nav-items li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}
.nav-items li button {
    padding: 4px 16px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(23, 26, 32);
    background-color: white;
    border: none;
    cursor: pointer;
}
.nav-items li button:hover {
    background-color: #f2f2f2;
}
.nav-item-text {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu-items {
    display: flex;
    width: 120px;
    padding-right: 32px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.menu-items img {
    width: 25px;
    margin-left: 10px;
}

header {
    height: 73vh;
    width: 100vw;
}

header video {
    position: absolute;
    top: 56px;
    height: 73vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.content-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 48px 32px 32px 32px;
    margin-top: 15px;
    color: white;
}

h1 {
    font-weight: 500;
    font-size: 47px;
    line-height: 1.1;
    letter-spacing: 0.9px;
}
.sub-heading-container {
    margin-top: 6px;
}
.sub-heading {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.action-btns {
    font-size: 14px;
    margin-top: 24px;
    display: flex;
}
.action-btns button {
    height: 40px;
    width: 200px;
    padding: 4px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.order-btn {
    background-color: rgb(62, 106, 225);
    color: white;
}
.order-btn:hover {
    background-color: #3457b1;
}
.learn-btn {
    color: rgb(23, 26, 32);
}
.learn-btn:hover {
    background-color: #eeeeee;
}